<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <thead>
  <tr>
    <th class="tg-0lax">URL</th>
    <th class="tg-0lax">Action</th>
    <th class="tg-0lax">Purpose</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="tg-0lax"><a href="/users">/users</a></td>
    <td class="tg-0lax">index</td>
    <td class="tg-0lax">page to list all users</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="/users/1">/users/1</a></td>
    <td class="tg-0pky">show</td>
    <td class="tg-0pky">page to show user with id 1</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="/users/new">/users/new</a></td>
    <td class="tg-0pky">new</td>
    <td class="tg-0pky">page to make a new user</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="/users/1/edit">/users/1/edit</a></td>
    <td class="tg-0pky">edit</td>
    <td class="tg-0pky">page to edit user with id 1</td>
  </tr>
  </tbody>
</table>